.product {
    width: 300px;
    padding: 1rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.4);
    margin: 8px auto; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-color: #65bbdd;
    border-style: solid;
}

.product > img {
    height: 150px;
    border-radius: 8px;
}

.product_info > p {
   margin-bottom: 8px;
}

.info_price {
    font-weight: bold;
}

.info_name {
    font-size: 1rem;
    overflow: hidden;
}

.info_description {
    font-size: 0.8rem;
}

.info_button {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    color: black;
    background: #65bbdd;
    padding: 8px 16px;
    border: 1px solid black;
    font-size: 1rem;
}

.info_button:hover {
    background: #F95A37;
    color: #F4F3EB;
}

@media (max-width: 1200px) {
    .product {
        width: 330px;
    }
}

@media (max-width: 930px) {
    .product {
        width: 300px;
    }
}

@media (max-width: 590px) {
    .product {
        width: 270px;
    }
}